# Dependencies
node_modules/
.pnp
.pnp.js

# Build artifacts
dist/
dist_apk/
*.apk

# Android build cache
android/.gradle/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/build/
android/.idea/
android/*.iml
android/app/*.iml

# Environment & Logs
.env
.env.local
*.log
npm-debug.log*

# System
.DS_Store
Thumbs.db
